<form class="flexcol" action="" autocomplete="off">

  {{log this}}

  <nav class="sheet-tabs tabs" data-group="main">
    <a class="item" data-tab="colors"><i class="fa-solid fa-palette"></i> {{localize "SKETCHTILES.colors"}}</a>
    <a class="item" data-tab="strokeOptions"><i class="fa-sharp fa-solid fa-paintbrush-pencil"></i> {{localize
      "SKETCHTILES.strokeOptions"}}
      <a class="item" data-tab="otherOptions"><i class="fa-solid fa-square-sliders"></i> {{localize
        "SKETCHTILES.other"}}
      </a>
  </nav>

  <div class="tab" data-group="main" data-tab="colors">
    <fieldset>
      <legend>{{localize "DRAWING.StrokeColor"}}</legend>
      {{#each sketchSettings.colors as |color index|}}
        <div class="form-group">
          <div class="form-fields">
            <color-picker name={{concat "colors." index}} value={{color}}></color-picker>
          </div>
        </div>
      {{/each}}
    </fieldset>

    <fieldset style="margin-bottom: 4px">
      <legend>{{localize "SKETCHTILES.backgroundColor"}}</legend>
      <div class="form-group">
        <div class="form-fields">
          <color-picker name="backgroundColor" value={{sketchSettings.backgroundColor}}></color-picker>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="tab" data-group="main" data-tab="strokeOptions">
    {{#with sketchSettings.strokeOptions}}

      <div class="form-group slim">
        <label>{{localize "SKETCHTILES.size"}}</label>
        <div class="form-fields">
          <input type="number" min="4" max="100" value="{{this.size}}" name="strokeOptions.size">
        </div>
      </div>

      <div class="form-group slim">
        <label>{{localize "SKETCHTILES.thinning"}}</label>
        <div class="form-fields">
          <input type="number" min="0" max="1" step=".01" value="{{this.thinning}}" name="strokeOptions.thinning">
        </div>
        <p class="hint">{{localize "SKETCHTILES.hints.thinning"}}</p>
      </div>

      <div class="form-group slim">
        <label>{{localize "SKETCHTILES.smoothing"}}</label>
        <div class="form-fields">
          <input type="number" min="0" max="1" step=".01" value="{{this.smoothing}}" name="strokeOptions.smoothing">
        </div>
        <p class="hint">{{localize "SKETCHTILES.hints.smoothing"}}</p>
      </div>

      <div class="form-group slim">
        <label>{{localize "SKETCHTILES.streamline"}}</label>
        <div class="form-fields">
          <input type="number" min="0" max="1" step=".01" value="{{this.streamline}}" name="strokeOptions.streamline">
        </div>
        <p class="hint">{{localize "SKETCHTILES.hints.streamline"}}</p>
      </div>

      <div class="form-group slim">
        <label>{{localize "SKETCHTILES.simulatePressure"}}</label>
        <div class="form-fields">
          <input type="checkbox" {{checked this.simulatePressure}} name="strokeOptions.simulatePressure">
        </div>
        <p class="hint">{{localize "SKETCHTILES.hints.simulatePressure"}}</p>
      </div>

      <div class="form-group slim">
        <label>{{localize "SKETCHTILES.startTaper"}}</label>
        <div class="form-fields">
          <input type="number" min="0" max="100" value="{{this.start.taper}}" name="strokeOptions.start.taper">
        </div>
        <p class="hint">{{localize "SKETCHTILES.hints.startTaper"}}</p>
      </div>

      <div class="form-group slim">
        <label>{{localize "SKETCHTILES.endTaper"}}</label>
        <div class="form-fields">
          <input type="number" min="0" max="100" value="{{this.end.taper}}" name="strokeOptions.end.taper">
        </div>
        <p class="hint">{{localize "SKETCHTILES.hints.endTaper"}}</p>
      </div>
    {{/with}}
  </div>

  <div class="tab" data-group="main" data-tab="otherOptions">
    <div class="form-group">
      <label>{{localize "SKETCHTILES.importSvg"}}</label>
      <div class="form-fields">
        <input class="image" type="text" name="importSvg" placeholder="path/image.png"
               value="{{sketchSettings.backgroundSvg}}" />
        <file-picker target="importSvg" type="image"></file-picker>
      </div>
      <p class="hint">{{localize "SKETCHTILES.hints.importSvg"}}</p>
    </div>

    <div class="form-group slim">
      <label>{{localize "SKETCHTILES.pollingRate"}}</label>
      <div class="form-fields">
        <input type="number" min="15" value="{{sketchSettings.pollingRate}}" name="pollingRate">
      </div>
      <p class="hint">{{localize "SKETCHTILES.hints.pollingRate"}}</p>
    </div>

    <div class="form-group slim">
      <label>{{localize "SKETCHTILES.autoCrop"}}</label>
      <div class="form-fields">
        <input type="checkbox" name="autoCrop" {{checked sketchSettings.autoCrop}}>
      </div>
      <p class="hint">{{localize "SKETCHTILES.hints.autoCrop"}}</p>
    </div>

    <div class="form-group slim">
      <label>{{localize "SKETCHTILES.hiddenTile"}}</label>
      <div class="form-fields">
        <input type="checkbox" name="hiddenTile" {{checked sketchSettings.hiddenTile}}>
      </div>
      <p class="hint">{{localize "SKETCHTILES.hints.hiddenTile"}}</p>
    </div>

    <div class="form-group slim">
      <label>{{localize "SKETCHTILES.transparentBackground"}}</label>
      <div class="form-fields">
        <input type="checkbox" name="transparentBackground" {{checked sketchSettings.transparentBackground}}>
      </div>
      <p class="hint">{{localize "SKETCHTILES.hints.transparentBackground"}}</p>
    </div>


    <div>
      <hr>
      <p style="text-align: center">{{localize "SKETCHTILES.hints.donations1"}}</p>
      <p style="text-align: center"><a href="https://ko-fi.com/clipplerblood">
        <i class="fa-duotone fa-mug-hot" style="top:-2px; margin-right: 2px;"></i> Ko-fi <i
        class="fa-duotone fa-mug-hot" style="top:-2px; margin-left: 2px; transform: rotateY(180deg)"></i></a></p>
      <hr>
    </div>
  </div>


  <footer class="sheet-footer flexrow">
    <button type="button" data-action="save" data-default="false">
      <i class="fa-solid fa-check"></i> {{localize "SETTINGS.Save"}}
    </button>
    <button type="button" data-action="save" data-default="true">
      <i class="far fa-save"></i> {{localize "DRAWING.SubmitDefault"}}
    </button>
    <button type="button" data-action="reset">
      <i class="fas fa-undo"></i> {{localize "SETTINGS.Reset"}}
    </button>
  </footer>
</form>
