.sketch-app {
  --window-bg: white;
  background: transparent;

  .sketch-app-container {
    width: 100%;
    height: 100%;
    position: relative;
    border: 4px solid #202020;
    border-top: none;
  }

  svg {
    width: 100%;
    height: 100%;
    touch-action: none;
  }

  .window-content {
    padding: 0;
    overflow: hidden;
    position: relative;
    background: var(--window-bg);
    backdrop-filter: blur(2px);
  }

  header {
    border-bottom: none !important;
    background: #202020;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: #e9e9e9;
  }
  .sketch-color-picker {
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: center;

    &:hover {
      cursor: default !important;
    }

    & > div {
      width: 16px;
      height: 16px;
      opacity: 0.5;
      transition: 0.2s ease-in-out;
      border-radius: 2px;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
        transition: 0.2s ease-in-out;
      }
    }

    .selected {
      opacity: 1;
      transition: 0.2s ease-in-out;
    }
  }
}
